@import "tailwindcss";

@theme inline {
  --background: #f9fafb;
  --foreground: #020617;
  --card: #ffffff;
  --card-foreground: #020617;
  --primary: #9e005a;
  --primary-foreground: #ffffff;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;
  --border: #e5e7eb;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

